asgiref==3.8.1 ; python_version >= "3.12" and python_version < "3.13"
certifi==2024.7.4 ; python_version >= "3.12" and python_version < "3.13"
charset-normalizer==3.3.2 ; python_version >= "3.12" and python_version < "3.13"
coverage==7.6.1 ; python_version >= "3.12" and python_version < "3.13"
coverage[toml]==7.6.1 ; python_version >= "3.12" and python_version < "3.13"
coveralls==4.0.1 ; python_version >= "3.12" and python_version < "3.13"
crispy-bootstrap5==2024.2 ; python_version >= "3.12" and python_version < "3.13"
django-crispy-forms==2.3 ; python_version >= "3.12" and python_version < "3.13"
django-htmx==1.19.0 ; python_version >= "3.12" and python_version < "3.13"
django==5.1 ; python_version >= "3.12" and python_version < "3.13"
docopt==0.6.2 ; python_version >= "3.12" and python_version < "3.13"
fontawesomefree==6.6.0 ; python_version >= "3.12" and python_version < "3.13"
idna==3.7 ; python_version >= "3.12" and python_version < "3.13"
pillow==10.4.0 ; python_version >= "3.12" and python_version < "3.13"
psycopg2==2.9.9 ; python_version >= "3.12" and python_version < "3.13"
requests==2.32.3 ; python_version >= "3.12" and python_version < "3.13"
sqlparse==0.5.1 ; python_version >= "3.12" and python_version < "3.13"
tzdata==2024.1 ; python_version >= "3.12" and python_version < "3.13" and sys_platform == "win32"
urllib3==2.2.2 ; python_version >= "3.12" and python_version < "3.13"